<settings>
  <profiles>
    <profile>
      <id>artifactory-profile</id>
      <properties>
        <user>${env.ARTIFACTORY_USER}</user>
        <pass>${env.ARTIFACTORY_PWD}</pass>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>artifactory-profile</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>libs-release-local</id>
      <username>${user}</username>
      <password>${pass}</password>
    </server>
    <server>
      <id>libs-snapshot-local</id>
      <username>${user}</username>
      <password>${pass}</password>
    </server>
  </servers>
</settings>
